*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5e5e5e
}

h1{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20rem;
    
    ;
}

input{
    text-align: center;
    background-color: #000000;    
    color: #fff;
    margin: 1rem;
    padding: 0,7rem;
    width: 18rem;
    height: 2rem;
}

button{
    background-color: #b45100;
    color: #fff;
    padding: 0,7rem;
    margin: 1rem;
    width: 18rem;
    height: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

::placeholder{
    text-align: center;
    color: #fff;
    padding: 0,6rem;
    font-family: 'Courier New', Courier, monospace;
}